# Entornos virtuales
venv/
test_ocr/
Lib/
Include/
Scripts/
share/
pyvenv.cfg
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
# Archivos temporales
*.log
*.tmp
# Configuracion de entorno
.env
# IDEs
.idea/
.vscode/
# Otros
.DS_Store
*.xlsx
list/

